@use "main/variables";

.milk-products__title {
    font-family: variables.$font-base;
}


.milk-products__container::before, .milk-products__container::after {
    content:"";
    display: block;
    background-image: url(/images/background.svg);
    background-size: cover;
    height: 30px;
    width: 100%;
    
}

.milk-products__text {
    text-align: justify;
}

.milk-products__subtitle {
    margin: 5px 0;
}

.milk-products__box {
    margin: 40px 0;
}


.milk-products__table {
    width: 100%;
    border-collapse: collapse;
    height: 150px;
}

tr, td {
    font-family: variables.$font-base;
    text-align: center;
}

.milk-products__table, tr, td {
    border: 1px solid black;
 
}

.milk-products__text {
    margin-bottom: 30px;
}

.milk-products__list {
    font-family: variables.$font-base;
    margin-bottom: 30px;
}

.main-recipe__box {
    display: inline-block;
    width: 400px;
    padding:  20px 30px;
    text-align: center;
    background-color: variables.$primary-color;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    
    

}