@use "variables";

//Koření a byliny

.spices {
    background-image: url(/images/background.svg);

    &__item {
        background-position: 20% ;
        background-size: cover;
        height: 200px;
        min-width: 50px;
        text-align: center;
        text-shadow: 2px 3px 3px #4b4646;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
        border-radius: 10px;
        transition: transform .4s;
        
    }

    &__item:hover {
    transform: scale(1.03);
    }

    &__link {
        text-decoration: none;
        color: white;
        font-family: variables.$font-base;
        font-size: 18px;
    }
}

.spices__item-1 { background-image: url(/images/recepty/panyr-min.jpeg); }
.spices__item-2 { background-image: url(/images/recepty/ryze-min.jpeg); }
.spices__item-3 { background-image: url(/images/recepty/dhal-min.jpeg); }
.spices__item-4 { background-image: url(/images/recepty/capati-min.jpeg); }
.spices__item-5 { background-image: url(/images/recepty/zelenina-min.jpeg); }
.spices__item-6 { background-image: url(/images/recepty/pakora-min.jpeg); }
.spices__item-7 { background-image: url(/images/recepty/catny-min.jpeg); }
.spices__item-8 { background-image: url(/images/recepty/halva-min.jpeg); }
.spices__item-9 { background-image: url(/images/recepty/lassi-min.jpg); }
.spices__item-10 { background-image: url(/images/recepty/panyr-min.jpeg); }
.spices__item-11 { background-image: url(/images/recepty/ryze-min.jpeg); }
.spices__item-12 { background-image: url(/images/recepty/dhal-min.jpeg); }
.spices__item-13 { background-image: url(/images/recepty/capati-min.jpeg); }
.spices__item-14 { background-image: url(/images/recepty/zelenina-min.jpeg); }
.spices__item-15 { background-image: url(/images/recepty/pakora-min.jpeg); }
.spices__item-16 { background-image: url(/images/recepty/catny-min.jpeg); }
.spices__item-17 { background-image: url(/images/recepty/halva-min.jpeg); }
.spices__item-18 { background-image: url(/images/recepty/lassi-min.jpg); }
.spices__item-19 { background-image: url(/images/recepty/lassi-min.jpg); }
.spices__item-20 { background-image: url(/images/recepty/lassi-min.jpg); }
.spices__item-21 { background-image: url(/images/recepty/lassi-min.jpg); }
.spices__item-22 { background-image: url(/images/recepty/lassi-min.jpg); }
.spices__item-23 { background-image: url(/images/recepty/lassi-min.jpg); }

