@use "main/variables";

//Koření a byliny

.spices {
    background-image: url(/images/background.svg);

    &__item {
        background-position: 20% ;
        background-size: cover;
        height: 200px;
        min-width: 50px;
        text-align: center;
        text-shadow: 2px 3px 3px #4b4646;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
        border-radius: 10px;
        transition: transform .4s;
        
    }

    &__item:hover {
    transform: scale(1.03);
    }

    &__link {
        text-decoration: none;
        color: white;
        font-family: variables.$font-base;
        font-size: 18px;
    }
}

.spices__item-1 { background-image: url(/images/koreni-a-byliny/asafoetida.jpg); }
.spices__item-2 { background-image: url(/images/koreni-a-byliny/chilli-cele.jpeg); }
.spices__item-3 { background-image: url(/images/koreni-a-byliny/chilli-susene.jpg); }
.spices__item-4 { background-image: url(/images/koreni-a-byliny/fenykl.jpeg); }
.spices__item-5 { background-image: url(/images/koreni-a-byliny/cerna-horcice.jpeg); }
.spices__item-6 { background-image: url(/images/koreni-a-byliny/hrebicek.jpeg); }
.spices__item-7 { background-image: url(/images/koreni-a-byliny/kajensky-pepr.jpeg); }
.spices__item-8 { background-image: url(/images/koreni-a-byliny/kardamom.jpeg); }
.spices__item-9 { background-image: url(/images/koreni-a-byliny/kari-listy.jpg); }
.spices__item-10 { background-image: url(/images/koreni-a-byliny/kmin.jpg); }
.spices__item-11 { background-image: url(/images/koreni-a-byliny/koriandr-cerstvy.jpg); }
.spices__item-12 { background-image: url(/images/koreni-a-byliny/koriandrova-seminka.jpeg); }
.spices__item-13 { background-image: url(/images/koreni-a-byliny/kurkuma.jpeg); }
.spices__item-14 { background-image: url(/images/koreni-a-byliny/mangovy-prasek.jpeg); }
.spices__item-15 { background-image: url(/images/koreni-a-byliny/matove-listy.jpeg); }
.spices__item-16 { background-image: url(/images/koreni-a-byliny/muskatovy-orisek.jpeg); }
.spices__item-17 { background-image: url(/images/koreni-a-byliny/ruzova-voda.jpeg); }
.spices__item-18 { background-image: url(/images/koreni-a-byliny/recke-seno.jpeg); }
.spices__item-19 { background-image: url(/images/koreni-a-byliny/seminka-kalindzi.jpeg); }
.spices__item-20 { background-image: url(/images/koreni-a-byliny/skorice.jpeg); }
.spices__item-21 { background-image: url(/images/koreni-a-byliny/safran.jpeg); }
.spices__item-22 { background-image: url(/images/koreni-a-byliny/tamarind.jpeg); }
.spices__item-23 { background-image: url(/images/koreni-a-byliny/zazvor.jpeg); }

