@use "main/variables";

.vegetable__background {
    background-image: url(/images/background.svg);
}

.vegetable__items {
    padding: 40px;

    .vegetable__link {
        text-decoration: none;
        color: black;
        font-family: variables.$font-base;
        font-size: 18px;
        margin: 10px;
    }

    .vegetable__item {
        background-color: white;
        border-radius: 10px;
        height: 50px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: transform .4s;

    }

    .vegetable__item:hover {
        transform: scale(1.03);
    }

    .vegetable__text {
        margin: 16px;
    }

}