html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


$primary-color: #cc6633;
$footer-color: #54494b;
$footer-secondary-color: #333333;
$font-special: 'Style Script', sans-serif;
$font-base: 'Montserrat', sans-serif;

body {
    margin: 0;
    
}

p {
    font-family: $font-base;
    margin: 0;
}

// Sekce header

h1, h2 {
    font-family: $font-special;
    font-size: 40px;
}

h1 {
    text-align: center;
}

h2 {
    margin: 0;
}

.logo {
    display: none;
}

.menu__list {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

.menu__link {
    display: block;
    font-family: $font-base;
    text-decoration: none;
    color: black;
    padding: 20px;

    &:hover, &:focus, &:active {
        background-color: $primary-color;
        color: white;
    }
}

// Sekce main

// Domů

h1 {
    justify-self: center;
    color: white;
    font-size: 80px;
    padding: 30px;
    text-shadow: 2px 2px 4px #000000;
}

.banner {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    background-image: url(/images/index/hlavicka-index.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    min-width: 400px;
}

section {
    padding: 40px;
    margin: 0 auto;
}

.recipes {
    background-image: url(/images/background.svg);

    &__item {
        background-position: 20% ;
        background-size: cover;
        height: 200px;
        min-width: 50px;
        text-align: center;
        text-shadow: 2px 3px 3px #4b4646;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
        border-radius: 10px;
        transition: transform .4s;
        
    }

    &__item:hover {
    transform: scale(1.03);
    
}
    &__link {
        text-decoration: none;
        color: white;
        font-family: $font-base;
        font-size: 18px;
    }
}

.recipes__item-1 { background-image: url(/images/recepty/panyr-min.jpeg); }
.recipes__item-2 { background-image: url(/images/recepty/ryze-min.jpeg); }
.recipes__item-3 { background-image: url(/images/recepty/dhal-min.jpeg); }
.recipes__item-4 { background-image: url(/images/recepty/capati-min.jpeg); }
.recipes__item-5 { background-image: url(/images/recepty/zelenina-min.jpeg); }
.recipes__item-6 { background-image: url(/images/recepty/pakora-min.jpeg); }
.recipes__item-7 { background-image: url(/images/recepty/catny-min.jpeg); }
.recipes__item-8 { background-image: url(/images/recepty/halva-min.jpeg); }
.recipes__item-9 { background-image: url(/images/recepty/lassi-min.jpg); }

//Koření a byliny

.spices {
    background-image: url(/images/background.svg);

    &__item {
        background-position: 20% ;
        background-size: cover;
        height: 200px;
        min-width: 50px;
        text-align: center;
        text-shadow: 2px 3px 3px #4b4646;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
        border-radius: 10px;
        transition: transform .4s;
        
    }

    &__item:hover {
    transform: scale(1.03);
    }

    &__link {
        text-decoration: none;
        color: white;
        font-family: $font-base;
        font-size: 18px;
    }
}

@use "footer";

// Tablet

@media screen and (min-width: 640px) {

    // .recipes, .spices {
    //     padding: 30px;
    // }

    .recipes-grid, .spices-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        padding: 30px 0;
    }

    .recipes__link .recipes__item, .spices__link .spices__item {
        margin: 0;
    }
}

// Desktop

@media screen and (min-width: 1100px) {

    .recipes__background, .spices__background, .spices_text, .about, .dishware__text, .spices__text {
        max-width: 90%;
        margin: 0 auto;
    }

    .logo {
        display: block;
        font-family: $font-special;
        color: $primary-color;
        font-size: 30px;
        padding: 0;
        margin: 0;
    }

    .menu {
        margin: 0;
    }
    .menu__list {
        display: flex;
        margin: 0;

    }

    .flexbox {
        max-width: 90%;
        padding: 0 30px;
        display: flex;
        justify-content: space-between;
        justify-self: center;
        align-items: center;
        margin: 30px auto;
    }

    .menu__link {
        padding: 10px 20px;
        margin: 0 10px;
        border-radius: 60px;
    }

    .recipes-grid, .spices-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}
