@use "variables";

.back-to-top__button {

    position: sticky;
    bottom: 20px;      
    margin-right: 10px; 
    margin-top: -3vh;
    float: right;
    margin-left: 0;

    text-decoration: none;
    padding: 20px;
    font-family: variables.$font-base;
    color: #fff;
    background: #000;
    border-radius: 100px;
    white-space: nowrap;

   
  }


  
 