@use "variables";

html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; scroll-behavior: smooth }



body {
    margin: 0;
}

p {
    font-family: variables.$font-base;
}

h1, h2 {
    font-family: variables.$font-special;
    font-size: 40px;
}

h1 {
    text-align: center;
}

h2 {
    margin: 0;
}

section {
    padding: 40px;
    margin: 0 auto;
}


