--- 
layout: layouts/main-template.njk
--- 

<div class="breadcrumb-navigation">
    <ul class="breadcrumb-list">
        <li class="breadcrumb__item"><a class="breadcrumb__link" href="/">Domů</a></li>
        <li class="breadcrumb__item"><a class="breadcrumb__link" href="/koreni-a-byliny/">Koření a byliny</a></li>
        <li class="breadcrumb__item">{{ title }}</li>
      </ul>
</div>

<main>

    {{ content | safe }}

</main>